flask==2.3.3
flask-cors==4.0.0
flask-sock==0.7.0
yt-dlp==2024.3.10
python-dotenv==1.0.0
websockets==12.0
pathlib==1.0.1
werkzeug==3.0.1
Jinja2==3.1.2
click==8.1.7
itsdangerous==2.1.2
requests==2.31.0
psutil>=5.9.0
pytz==2023.3
flask_babel==3.1.0
pysocks==1.7.1
pyinstaller==6.11.1
rumps==0.4.0
pyobjc-core==10.1
pyobjc-framework-Cocoa==10.1
packaging>=23.2